sso/src/main/resources/wsdl/wsagruppe_v3.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="https://wsagruppe.uni-login.dk/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:uni="https://uni-login.dk" targetNamespace="https://wsagruppe.uni-login.dk/ws" name="WsaGruppe">

    <types>
        <xs:schema>
            <xs:import namespace="https://uni-login.dk" schemaLocation="https://wsagruppe.uni-login.dk:443/wsagruppe-v3/ws?xsd=2"/>
            <xs:import namespace="https://wsagruppe.uni-login.dk/ws" schemaLocation="https://wsagruppe.uni-login.dk:443/wsagruppe-v3/ws?xsd=4"/>
        </xs:schema>
    </types>

    <message name="HelloWorldIn">
        <part name="parameters" element="uni:helloWorld"/>
    </message>
    <message name="HelloWorldOut">
        <part name="return" element="uni:helloWorldResponse"/>
    </message>
    <message name="HelloWorldWithDBIn">
        <part name="parameters" element="uni:helloWorldWithDB"/>
    </message>
    <message name="HelloWorldWithDBOut">
        <part name="return" element="uni:helloWorldWithDBResponse"/>
    </message>
    <message name="HelloWorldWithCredentialsIn">
        <part name="parameters" element="uni:helloWorldWithCredentials"/>
    </message>
    <message name="HelloWorldWithCredentialsOut">
        <part name="return" element="uni:helloWorldWithCredentialsResponse"/>
    </message>
    <message name="OpretProjektgruppeIn">
        <part name="parameters" element="tns:opretProjektgruppe"/>
    </message>
    <message name="OpretProjektgruppeOut">
        <part name="return" element="uni:svarResponse"/>
    </message>
    <message name="HentProjektgrupperIn">
        <part name="parameters" element="tns:hentProjektgrupper"/>
    </message>
    <message name="HentProjektgrupperOut">
        <part name="return" element="tns:hentProjektgrupperResponse"/>
    </message>
    <message name="RetProjektgruppeIn">
        <part name="parameters" element="tns:retProjektgruppe"/>
    </message>
    <message name="RetProjektgruppeOut">
        <part name="return" element="uni:svarResponse"/>
    </message>
    <message name="SletProjektgruppeIn">
        <part name="parameters" element="tns:sletProjektgruppe"/>
    </message>
    <message name="SletProjektgruppeOut">
        <part name="return" element="uni:svarResponse"/>
    </message>
    <message name="FoejBrugerTilProjektgruppeIn">
        <part name="parameters" element="tns:foejBrugerTilProjektgruppe"/>
    </message>
    <message name="FoejBrugerTilProjektgruppeOut">
        <part name="return" element="uni:svarResponse"/>
    </message>
    <message name="FjernBrugerFraProjektgruppeIn">
        <part name="parameters" element="tns:fjernBrugerFraProjektgruppe"/>
    </message>
    <message name="FjernBrugerFraProjektgruppeOut">
        <part name="return" element="uni:svarResponse"/>
    </message>
    <message name="HentBrugereIProjektgruppeIn">
        <part name="parameters" element="tns:hentBrugereIProjektgruppe"/>
    </message>
    <message name="HentBrugereIProjektgruppeOut">
        <part name="return" element="tns:hentBrugereIProjektgruppeResponse"/>
    </message>
    <message name="hentDataAftalerIn">
        <part name="parameters" element="uni:hentDataAftaler"/>
    </message>
    <message name="hentDataAftalerOut">
        <part name="return" element="uni:hentDataAftalerResponse"/>
    </message>

    <message name="GruppeFault">
        <part name="fault" element="tns:gruppeError"/>
    </message>
    <message name="AuthentificationFault">
        <part name="fault" element="uni:authentificationError"/>
    </message>
    <portType name="WsaGruppePortType">
        <operation name="helloWorld">
            <documentation>Ping webservicen med simpelt kald. Returnerer "HelloWorld" hvis webservicen svarer.</documentation>
            <input message="tns:HelloWorldIn"/>
            <output message="tns:HelloWorldOut"/>
        </operation>
        <operation name="helloWorldWithDB">
            <documentation>Ping webservicen med simpelt kald. Returnerer "HelloWorld" samt tidspunkt fra databasen hvis webservicen og databasen svarer.</documentation>
            <input message="tns:HelloWorldWithDBIn"/>
            <output message="tns:HelloWorldWithDBOut"/>
        </operation>
        <operation name="helloWorldWithCredentials">
            <documentation>Ping webservicen med simpelt kald. Returnerer "HelloWorldWithCredentials" hvis webservicen svarer og brugernavn/password er korrekt angivet.</documentation>
            <input message="tns:HelloWorldWithCredentialsIn"/>
            <output message="tns:HelloWorldWithCredentialsOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>
        <operation name="opretProjektgruppe">
            <documentation>Opretter en projektgruppe. Projektgruppen skal være entydig for udbyderen.</documentation>
            <input message="tns:OpretProjektgruppeIn"/>
            <output message="tns:OpretProjektgruppeOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>
        <operation name="hentProjektgrupper">
            <documentation>Returner liste over udbyderens projektgrupper.</documentation>
            <input message="tns:HentProjektgrupperIn"/>
            <output message="tns:HentProjektgrupperOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>
        <operation name="retProjektgruppe">
            <documentation>Retter en eller flere attributter for en projektgruppe.</documentation>
            <input message="tns:RetProjektgruppeIn"/>
            <output message="tns:RetProjektgruppeOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
            <fault name="gruppeFault" message="tns:GruppeFault"/>
        </operation>
        <operation name="sletProjektgruppe">
            <documentation>Sletter en projektgruppe. Fejler, hvis der er brugere tilknyttet projektgruppen.</documentation>
            <input message="tns:SletProjektgruppeIn"/>
            <output message="tns:SletProjektgruppeOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
            <fault name="gruppeFault" message="tns:GruppeFault"/>
        </operation>
        <operation name="foejBrugerTilProjektgruppe">
            <documentation>Tilføjer brugeren som medlem af projektgruppen. Brugeren arver dermed licens til de tjenester, som projektgruppen er tildelt.</documentation>
            <input message="tns:FoejBrugerTilProjektgruppeIn"/>
            <output message="tns:FoejBrugerTilProjektgruppeOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
            <fault name="gruppeFault" message="tns:GruppeFault"/>
        </operation>
        <operation name="fjernBrugerFraProjektgruppe">
            <documentation>Fjerner brugeren som medlem af projektgruppen. Brugeren mister dermed licens til de tjenester, som projektgruppen er tildelt.</documentation>
            <input message="tns:FjernBrugerFraProjektgruppeIn"/>
            <output message="tns:FjernBrugerFraProjektgruppeOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
            <fault name="gruppeFault" message="tns:GruppeFault"/>
        </operation>
        <operation name="hentBrugereIProjektgruppe">
            <documentation>Returnerer en liste af brugere, der er medlem af den angivne projektgruppe.</documentation>
            <input message="tns:HentBrugereIProjektgruppeIn"/>
            <output message="tns:HentBrugereIProjektgruppeOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
            <fault name="gruppeFault" message="tns:GruppeFault"/>
        </operation>
        <operation name="hentDataAftaler">
            <documentation>Returnerer en liste af institutionsnumre, hvor der er lavet en dataaftale</documentation>
            <input message="tns:hentDataAftalerIn"/>
            <output message="tns:hentDataAftalerOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>
    </portType>

    <binding name="WsaGruppeSoap" type="tns:WsaGruppePortType">
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="helloWorld">
            <wsoap12:operation soapAction="https://wsagruppe.uni-login.dk/helloWorld"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
        <operation name="helloWorldWithDB">
            <wsoap12:operation soapAction="https://wsagruppe.uni-login.dk/helloWorldWithDB"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
        <operation name="helloWorldWithCredentials">
            <wsoap12:operation soapAction="https://wsagruppe.uni-login.dk/helloWorldWithCredentials"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="opretProjektgruppe">
            <wsoap12:operation soapAction="https://wsagruppe.uni-login.dk/opretProjektgruppe"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="hentProjektgrupper">
            <wsoap12:operation soapAction="https://wsagruppe.uni-login.dk/hentProjektgrupper"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="retProjektgruppe">
            <wsoap12:operation soapAction="https://wsagruppe.uni-login.dk/retProjektgruppe"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="gruppeFault">
                <wsoap12:fault name="gruppeFault" use="literal"/>
            </fault>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="sletProjektgruppe">
            <wsoap12:operation soapAction="https://wsagruppe.uni-login.dk/sletProjektgruppe"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
            <fault name="gruppeFault">
                <wsoap12:fault name="gruppeFault" use="literal"/>
            </fault>
        </operation>
        <operation name="foejBrugerTilProjektgruppe">
            <wsoap12:operation soapAction="https://wsagruppe.uni-login.dk/foejBrugerTilProjektgruppe"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
            <fault name="gruppeFault">
                <wsoap12:fault name="gruppeFault" use="literal"/>
            </fault>
        </operation>
        <operation name="fjernBrugerFraProjektgruppe">
            <wsoap12:operation soapAction="https://wsagruppe.uni-login.dk/fjernBrugerFraProjektgruppe"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
            <fault name="gruppeFault">
                <wsoap12:fault name="gruppeFault" use="literal"/>
            </fault>
        </operation>
        <operation name="hentBrugereIProjektgruppe">
            <wsoap12:operation soapAction="https://wsagruppe.uni-login.dk/hentBrugereIProjektgruppe"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
            <fault name="gruppeFault">
                <wsoap12:fault name="gruppeFault" use="literal"/>
            </fault>
        </operation>
        <operation name="hentDataAftaler">
            <wsoap12:operation soapAction="https://wsagruppe.uni-login.dk/hentDataAftaler"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>
    </binding>

    <service name="WsaGruppe">
        <port name="WsaGruppePort" binding="tns:WsaGruppeSoap">
            <wsoap12:address location="https://wsagruppe.uni-login.dk:443/wsagruppe-v3/ws"/>
        </port>
    </service>
</definitions>