sso/src/main/resources/wsdl/wsibruger_v6.wsdl

<?xml version='1.0' encoding='UTF-8'?><definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:uni="https://unilogin.dk" xmlns:tns="https://wsibruger.unilogin.dk/ws" xmlns="http://schemas.xmlsoap.org/wsdl/" name="WsiBruger" targetNamespace="https://wsibruger.unilogin.dk/ws">
  <types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:uni="https://unilogin.dk" xmlns:tns="https://wsibruger.unilogin.dk/ws" xmlns="http://schemas.xmlsoap.org/wsdl/">
            
  <xs:import namespace="https://unilogin.dk" schemaLocation="https://wsibruger.unilogin.dk/wsibruger-v6/ws?xsd=common/ws-common.xsd"/>
            
  <xs:import namespace="https://wsibruger.unilogin.dk/ws" schemaLocation="https://wsibruger.unilogin.dk/wsibruger-v6/ws?xsd=wsibruger-ws.xsd"/>
        
</xs:schema>
  </types>
  <message name="HelloWorldWithDBAndCredentialsIn">
    <part element="uni:helloWorldWithDBAndCredentials" name="parameters">
    </part>
  </message>
  <message name="HelloWorldIn">
    <part element="uni:helloWorld" name="parameters">
    </part>
  </message>
  <message name="HentBrugersInstitutionstilknytningerOut">
    <part element="tns:hentBrugersInstitutionstilknytningerResponse" name="return">
    </part>
  </message>
  <message name="hentDataAftalerIn">
    <part element="uni:hentDataAftaler" name="parameters">
    </part>
  </message>
  <message name="HelloWorldWithDBIn">
    <part element="uni:helloWorldWithDB" name="parameters">
    </part>
  </message>
  <message name="AuthentificationFault">
    <part element="uni:authentificationError" name="fault">
    </part>
  </message>
  <message name="HelloWorldWithDBOut">
    <part element="uni:helloWorldWithDBResponse" name="return">
    </part>
  </message>
  <message name="hentDataAftalerOut">
    <part element="uni:hentDataAftalerResponse" name="return">
    </part>
  </message>
  <message name="HentBrugersKontaktpersonerOut">
    <part element="tns:hentBrugersKontaktpersonerResponse" name="return">
    </part>
  </message>
  <message name="HelloWorldOut">
    <part element="uni:helloWorldResponse" name="return">
    </part>
  </message>
  <message name="HentBrugersKontaktpersonerIn">
    <part element="tns:hentBrugersKontaktpersoner" name="parameters">
    </part>
  </message>
  <message name="HentKontaktpersonsBrugereOut">
    <part element="tns:hentKontaktpersonsBrugereResponse" name="return">
    </part>
  </message>
  <message name="HentBrugersInstitutionstilknytningerIn">
    <part element="tns:hentBrugersInstitutionstilknytninger" name="parameters">
    </part>
  </message>
  <message name="HelloWorldWithDBAndCredentialsOut">
    <part element="uni:helloWorldWithDBAndCredentialsResponse" name="return">
    </part>
  </message>
  <message name="HentKontaktpersonsBrugereIn">
    <part element="tns:hentKontaktpersonsBrugere" name="parameters">
    </part>
  </message>
  <portType name="WsiBrugerPortType">
    <operation name="helloWorld">
<documentation>Ping webservicen med simpelt kald. Returnerer "HelloWorld" hvis webservicen svarer.</documentation>
      <input message="tns:HelloWorldIn">
    </input>
      <output message="tns:HelloWorldOut">
    </output>
    </operation>
    <operation name="helloWorldWithDBAndCredentials">
<documentation>Ping webservicen med simpelt kald. Returnerer "helloWorldWithDBAndCredentials" hvis webservicen svarer og brugernavn/password er korrekt angivet.</documentation>
      <input message="tns:HelloWorldWithDBAndCredentialsIn">
    </input>
      <output message="tns:HelloWorldWithDBAndCredentialsOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
    <operation name="helloWorldWithDB">
<documentation>Ping webservicen med simpelt kald. Returnerer "HelloWorld" samt tidspunkt fra databasen hvis webservicen og databasen svarer.</documentation>
      <input message="tns:HelloWorldWithDBIn">
    </input>
      <output message="tns:HelloWorldWithDBOut">
    </output>
    </operation>
    <operation name="hentBrugersKontaktpersoner">
<documentation>Returnerer brugerens kontaktpersoner på pgd institution.</documentation>
      <input message="tns:HentBrugersKontaktpersonerIn">
    </input>
      <output message="tns:HentBrugersKontaktpersonerOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
    <operation name="hentKontaktpersonsBrugere">
<documentation>For en kontaktperson bruger, returner en liste over de andre brugere (elever) som vedkommende
                er kontaktperson for. Hvis instnr er angivet er det begrænset til kontaktperson-relationen indenfor den
                pgd institution</documentation>
      <input message="tns:HentKontaktpersonsBrugereIn">
    </input>
      <output message="tns:HentKontaktpersonsBrugereOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
    <operation name="hentBrugersInstitutionstilknytninger">
<documentation>For en bruger, returner en liste over de institutioner brugeren er tilknyttet</documentation>
      <input message="tns:HentBrugersInstitutionstilknytningerIn">
    </input>
      <output message="tns:HentBrugersInstitutionstilknytningerOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
    <operation name="hentDataAftaler">
<documentation>Returnerer en liste af institutionsnumre, hvor der er lavet en dataaftale</documentation>
      <input message="tns:hentDataAftalerIn">
    </input>
      <output message="tns:hentDataAftalerOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
  </portType>
  <binding name="WsiBrugerSoap" type="tns:WsiBrugerPortType">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="helloWorld">
      <wsoap12:operation soapAction="https://wsibruger.unilogin.dk/helloWorld"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
    </operation>
    <operation name="helloWorldWithDBAndCredentials">
      <wsoap12:operation soapAction="https://wsibruger.unilogin.dk/helloWorldWithDBAndCredentials"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="helloWorldWithDB">
      <wsoap12:operation soapAction="https://wsibruger.unilogin.dk/helloWorldWithDB"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
    </operation>
    <operation name="hentBrugersKontaktpersoner">
      <wsoap12:operation soapAction="https://wsibruger.unilogin.dk/hentBrugersKontaktpersoner"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="hentKontaktpersonsBrugere">
      <wsoap12:operation soapAction="https://wsibruger.unilogin.dk/hentKontaktpersonsBrugere"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="hentBrugersInstitutionstilknytninger">
      <wsoap12:operation soapAction="https://wsibruger.unilogin.dk/hentBrugersInstitutionstilknytninger"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="hentDataAftaler">
      <wsoap12:operation soapAction="https://wsibruger.unilogin.dk/hentDataAftaler"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WsiBruger">
    <port binding="tns:WsiBrugerSoap" name="WsiBrugerPort">
      <wsoap12:address location="https://wsibruger.unilogin.dk/wsibruger-v6/ws"/>
    </port>
  </service>
</definitions>