sso/src/main/resources/wsdl/wsiinst_v2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="https://wsiinst.uni-login.dk/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:uni="https://uni-login.dk" targetNamespace="https://wsiinst.uni-login.dk/ws" name="WsiInst">

    <types>
        <xs:schema>
            <xs:import namespace="https://uni-login.dk" schemaLocation="https://wsiinst.uni-login.dk:443/wsiinst-v2/ws?xsd=2"/>
            <xs:import namespace="https://wsiinst.uni-login.dk/ws" schemaLocation="https://wsiinst.uni-login.dk:443/wsiinst-v2/ws?xsd=4"/>
        </xs:schema>
    </types>

    <message name="HelloWorldIn">
        <part name="parameters" element="uni:helloWorld"/>
    </message>
    <message name="HelloWorldOut">
        <part name="return" element="uni:helloWorldResponse"/>
    </message>
    <message name="HelloWorldWithCredentialsIn">
        <part name="parameters" element="uni:helloWorldWithCredentials"/>
    </message>
    <message name="HelloWorldWithCredentialsOut">
        <part name="return" element="uni:helloWorldWithCredentialsResponse"/>
    </message>
    <message name="HelloWorldWithDBIn">
        <part name="parameters" element="uni:helloWorldWithDB"/>
    </message>
    <message name="HelloWorldWithDBOut">
        <part name="return" element="uni:helloWorldWithDBResponse"/>
    </message>

    <message name="HentGrupperIn">
        <part name="parameters" element="tns:hentGrupper"/>
    </message>
    <message name="HentGrupperOut">
        <part name="return" element="tns:hentGrupperResponse"/>
    </message>

    <message name="HentBrugereIGruppeIn">
        <part name="parameters" element="tns:hentBrugereIGruppe"/>
    </message>
    <message name="HentBrugereIGruppeOut">
        <part name="return" element="tns:hentBrugereIGruppeResponse"/>
    </message>

    <message name="HentGruppersLicenserIn">
        <part name="parameters" element="tns:hentGruppersLicenser"/>
    </message>
    <message name="HentGruppersLicenserOut">
        <part name="return" element="tns:hentGruppersLicenserResponse"/>
    </message>

    <message name="HentInstitutionIn">
        <part name="parameters" element="tns:hentInstitution"/>
    </message>
    <message name="HentInstitutionOut">
        <part name="return" element="tns:hentInstitutionResponse"/>
    </message>

    <message name="HentInstitutionerIn">
        <part name="parameters" element="tns:hentInstitutioner"/>
    </message>
    <message name="HentInstitutionerOut">
        <part name="return" element="tns:hentInstitutionerResponse"/>
    </message>

    <message name="HentInstBrugerIn">
        <part name="parameters" element="tns:hentInstBruger"/>
    </message>
    <message name="HentInstBrugerOut">
        <part name="return" element="tns:hentInstBrugerResponse"/>
    </message>
    <message name="hentDataAftalerIn">
        <part name="parameters" element="uni:hentDataAftaler"/>
    </message>
    <message name="hentDataAftalerOut">
        <part name="return" element="uni:hentDataAftalerResponse"/>
    </message>

    <message name="AuthentificationFault">
        <part name="fault" element="uni:authentificationError"/>
    </message>

    <portType name="WsiInstPortType">
        <operation name="helloWorld">
            <documentation>Ping webservicen med simpelt kald. Returnerer "HelloWorld" hvis webservicen svarer.</documentation>
            <input message="tns:HelloWorldIn"/>
            <output message="tns:HelloWorldOut"/>
        </operation>
        <operation name="helloWorldWithCredentials">
            <documentation>Ping webservicen med simpelt kald. Returnerer "HelloWorldWithCredentials" hvis webservicen svarer og brugernavn/password er korrekt angivet.</documentation>
            <input message="tns:HelloWorldWithCredentialsIn"/>
            <output message="tns:HelloWorldWithCredentialsOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>
        <operation name="helloWorldWithDB">
            <documentation>Ping webservicen med simpelt kald. Returnerer "HelloWorld" samt tidspunkt fra databasen hvis webservicen og databasen svarer.</documentation>
            <input message="tns:HelloWorldWithDBIn"/>
            <output message="tns:HelloWorldWithDBOut"/>
        </operation>
        <operation name="hentGrupper">
            <input message="tns:HentGrupperIn"/>
            <output message="tns:HentGrupperOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>

        <operation name="hentBrugereIGruppe">
            <input message="tns:HentBrugereIGruppeIn"/>
            <output message="tns:HentBrugereIGruppeOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>

        <operation name="hentGruppersLicenser">
            <input message="tns:HentGruppersLicenserIn"/>
            <output message="tns:HentGruppersLicenserOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>

        <operation name="hentInstitution">
            <input message="tns:HentInstitutionIn"/>
            <output message="tns:HentInstitutionOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>

        <operation name="hentInstitutioner">
            <input message="tns:HentInstitutionerIn"/>
            <output message="tns:HentInstitutionerOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>

        <operation name="hentInstBruger">
            <input message="tns:HentInstBrugerIn"/>
            <output message="tns:HentInstBrugerOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>

        <operation name="hentDataAftaler">
            <documentation>Returnerer en liste af institutionsnumre, hvor der er lavet en dataaftale</documentation>
            <input message="tns:hentDataAftalerIn"/>
            <output message="tns:hentDataAftalerOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>

    </portType>



    <binding name="WsiInstSoap" type="tns:WsiInstPortType">
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="helloWorld">
            <wsoap12:operation soapAction="https://wsiinst.uni-login.dk/helloWorld"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
        <operation name="helloWorldWithCredentials">
            <wsoap12:operation soapAction="https://wsiinst.uni-login.dk/helloWorldWithCredentials"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="helloWorldWithDB">
            <wsoap12:operation soapAction="https://wsiinst.uni-login.dk/helloWorldWithDB"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>

        <operation name="hentGrupper">
            <wsoap12:operation soapAction="https://wsiinst.uni-login.dk/hentGrupper"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>

        <operation name="hentBrugereIGruppe">
            <wsoap12:operation soapAction="https://wsiinst.uni-login.dk/hentBrugereIGruppe"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>

        <operation name="hentGruppersLicenser">
            <wsoap12:operation soapAction="https://wsiinst.uni-login.dk/hentGruppersLicenser"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>

        <operation name="hentInstitution">
            <wsoap12:operation soapAction="https://wsiinst.uni-login.dk/hentInstitution"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>

        <operation name="hentInstitutioner">
            <wsoap12:operation soapAction="https://wsiinst.uni-login.dk/hentInstitutioner"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>

        <operation name="hentInstBruger">
            <wsoap12:operation soapAction="https://wsiinst.uni-login.dk/hentInstBruger"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>

        <operation name="hentDataAftaler">
            <wsoap12:operation soapAction="https://wsiinst.uni-login.dk/hentDataAftaler"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>
    </binding>

    <service name="WsiInst">
        <port name="WsiInstPort" binding="tns:WsiInstSoap">
            <wsoap12:address location="https://wsiinst.uni-login.dk:443/wsiinst-v2/ws"/>
        </port>
    </service>

</definitions>