auth/src/main/resources/wsdl/wsibruger_v3.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="https://wsibruger.uni-login.dk/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:uni="https://uni-login.dk" targetNamespace="https://wsibruger.uni-login.dk/ws" name="WsiBruger">

    <types>
        <xs:schema>
            <xs:import namespace="https://uni-login.dk" schemaLocation="https://wsibruger.uni-login.dk:443/wsibruger-v3/ws?xsd=2"/>
            <xs:import namespace="https://wsibruger.uni-login.dk/ws" schemaLocation="https://wsibruger.uni-login.dk:443/wsibruger-v3/ws?xsd=4"/>
        </xs:schema>
    </types>

    <message name="HelloWorldIn">
        <part name="parameters" element="uni:helloWorld"/>
    </message>
    <message name="HelloWorldOut">
        <part name="return" element="uni:helloWorldResponse"/>
    </message>
    <message name="HelloWorldWithCredentialsIn">
        <part name="parameters" element="uni:helloWorldWithCredentials"/>
    </message>
    <message name="HelloWorldWithCredentialsOut">
        <part name="return" element="uni:helloWorldWithCredentialsResponse"/>
    </message>
    <message name="HelloWorldWithDBIn">
        <part name="parameters" element="uni:helloWorldWithDB"/>
    </message>
    <message name="HelloWorldWithDBOut">
        <part name="return" element="uni:helloWorldWithDBResponse"/>
    </message>
    <message name="HentBrugersKontaktpersonerIn">
        <part name="parameters" element="tns:hentBrugersKontaktpersoner"/>
    </message>
    <message name="HentBrugersKontaktpersonerOut">
        <part name="return" element="tns:hentBrugersKontaktpersonerResponse"/>
    </message>
    <message name="HentKontaktpersonsBrugereIn">
        <part name="parameters" element="tns:hentKontaktpersonsBrugere"/>
    </message>
    <message name="HentKontaktpersonsBrugereOut">
        <part name="return" element="tns:hentKontaktpersonsBrugereResponse"/>
    </message>
    <message name="HentBrugersInstitutionstilknytningerIn">
        <part name="parameters" element="tns:hentBrugersInstitutionstilknytninger"/>
    </message>
    <message name="HentBrugersInstitutionstilknytningerOut">
        <part name="return" element="tns:hentBrugersInstitutionstilknytningerResponse"/>
    </message>
    <message name="hentDataAftalerIn">
        <part name="parameters" element="uni:hentDataAftaler"/>
    </message>
    <message name="hentDataAftalerOut">
        <part name="return" element="uni:hentDataAftalerResponse"/>
    </message>

    <message name="AuthentificationFault">
        <part name="fault" element="uni:authentificationError"/>
    </message>
    <portType name="WsiBrugerPortType">
        <operation name="helloWorld">
            <documentation>Ping webservicen med simpelt kald. Returnerer "HelloWorld" hvis webservicen svarer.</documentation>
            <input message="tns:HelloWorldIn"/>
            <output message="tns:HelloWorldOut"/>
        </operation>
        <operation name="helloWorldWithCredentials">
            <documentation>Ping webservicen med simpelt kald. Returnerer "HelloWorldWithCredentials" hvis webservicen svarer og brugernavn/password er korrekt angivet.</documentation>
            <input message="tns:HelloWorldWithCredentialsIn"/>
            <output message="tns:HelloWorldWithCredentialsOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>
        <operation name="helloWorldWithDB">
            <documentation>Ping webservicen med simpelt kald. Returnerer "HelloWorld" samt tidspunkt fra databasen hvis webservicen og databasen svarer.</documentation>
            <input message="tns:HelloWorldWithDBIn"/>
            <output message="tns:HelloWorldWithDBOut"/>
        </operation>
        <operation name="hentBrugersKontaktpersoner">
            <documentation>Returnerer brugerens kontaktpersoner på pgd institution.</documentation>
            <input message="tns:HentBrugersKontaktpersonerIn"/>
            <output message="tns:HentBrugersKontaktpersonerOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>
        <operation name="hentKontaktpersonsBrugere">
            <documentation>For en kontaktperson bruger, returner en liste over de andre brugere (elever) som vedkommende
                er kontaktperson for. Hvis instnr er angivet er det begrænset til kontaktperson-relationen indenfor den
                pgd institution</documentation>
            <input message="tns:HentKontaktpersonsBrugereIn"/>
            <output message="tns:HentKontaktpersonsBrugereOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>
        <operation name="hentBrugersInstitutionstilknytninger">
            <documentation>For en bruger, returner en liste over de institutioner brugeren er tilknyttet</documentation>
            <input message="tns:HentBrugersInstitutionstilknytningerIn"/>
            <output message="tns:HentBrugersInstitutionstilknytningerOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>
        <operation name="hentDataAftaler">
            <documentation>Returnerer en liste af institutionsnumre, hvor der er lavet en dataaftale</documentation>
            <input message="tns:hentDataAftalerIn"/>
            <output message="tns:hentDataAftalerOut"/>
            <fault name="authentificationFault" message="tns:AuthentificationFault"/>
        </operation>
    </portType>

    <binding name="WsiBrugerSoap" type="tns:WsiBrugerPortType">
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="helloWorld">
            <wsoap12:operation soapAction="https://wsibruger.uni-login.dk/helloWorld"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
        <operation name="helloWorldWithCredentials">
            <wsoap12:operation soapAction="https://wsibruger.uni-login.dk/helloWorldWithCredentials"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="helloWorldWithDB">
            <wsoap12:operation soapAction="https://wsibruger.uni-login.dk/helloWorldWithDB"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
        </operation>
        <operation name="hentBrugersKontaktpersoner">
            <wsoap12:operation soapAction="https://wsibruger.uni-login.dk/hentBrugersKontaktpersoner"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="hentKontaktpersonsBrugere">
            <wsoap12:operation soapAction="https://wsibruger.uni-login.dk/hentKontaktpersonsBrugere"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="hentBrugersInstitutionstilknytninger">
            <wsoap12:operation soapAction="https://wsibruger.uni-login.dk/hentBrugersInstitutionstilknytninger"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="hentDataAftaler">
            <wsoap12:operation soapAction="https://wsibruger.uni-login.dk/hentDataAftaler"/>
            <input>
                <wsoap12:body use="literal"/>
            </input>
            <output>
                <wsoap12:body use="literal"/>
            </output>
            <fault name="authentificationFault">
                <wsoap12:fault name="authentificationFault" use="literal"/>
            </fault>
        </operation>
    </binding>

    <service name="WsiBruger">
        <port name="WsiBrugerPort" binding="tns:WsiBrugerSoap">
            <wsoap12:address location="https://wsibruger.uni-login.dk:443/wsibruger-v3/ws"/>
        </port>
    </service>

</definitions>